/*css file*/
body{
background-color: #473C43;
}


h1, p{
color: #CC0082;
}

p{
font-size: 20px;
}

#r1c1, #r1c2, #r1c3,
#r2c1, #r2c2, #r2c3,
#r3c1, #r3c2, #r3c3 {
  /*display: inline-block;*/
  height: 90px;
  width: 90px;
  /*center horizontally*/
  text-align: center;
  /*center vertically*/
  height: 90px;
  line-height: 90px;
  white-space: nowrap;


  background-color: #CC0082;
  color: #473C43;

  /*border: 1px solid black;*/
}

button{
border-radius: 5px;
background-color: #842662;
border: 2px solid #CC0082 ;
padding: 4px 10px 4px 10px;
color: #473C43;
font-size: 15px;
}

.players{
  display: inline;
}
